.leaflet-container {
  height: 100%;
  width: 100%;
}

/**
 * You know whenever you start slapping !important on css rules it's gonna be
 * a good time.
 */
.leaflet-tooltip {
  border: rgb(37, 37, 47) !important;
  background-color: rgb(37, 37, 47) !important;
  color: white !important;
}

.leaflet-tooltip-left::before {
  border-left-color: rgb(37, 37, 47) !important;
}

.leaflet-tooltip-right::before {
  border-right-color: rgb(37, 37, 47) !important;
}

.leaflet-interactive.active {
  outline: 7px solid rgba(255, 255, 190, 0.75);
  border-radius: 50%;
}

.venue-name {
  font-size: 18px;
  margin: auto;
  text-align: center;
  padding: -1px;
}

.venue-address {
  text-align: left;
  font-size: 12px;
}

.venue-description {
  text-align: left;
  font-size: 10px;
}

.show-info {
  padding-left: 10px;
}

.show-info p {
  margin: 0;
}