beautifulsoup4==4.12.3
croniter==2.0.1
deepdiff==6.6.1
Django==4.2.4
djangorestframework==3.14.0
Faker==19.3.0
Requests==2.31.0
selenium==4.17.2
undetected_chromedriver==3.5.3
usaddress_scourgify==0.6.0
