beautifulsoup4==4.12.3
croniter==2.0.1
deepdiff==6.6.1
Django==4.2.4
djangorestframework==3.14.0
djangorestframework_simplejwt==5.3.1
fuzzwuzzy==0.18.0
Requests==2.31.0
rest_framework_simplejwt==0.0.2
selenium==4.19.0
undetected_chromedriver==3.5.5
uritemplate==4.1.1
usaddress_scourgify==0.6.0
