altgraph @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot7/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-133.100.1.1/altgraph-0.17.2-py2.py3-none-any.whl
amqp==5.1.1
asgiref==3.7.2
astroid==2.15.8
attrs==23.1.0
beautifulsoup4==4.12.2
billiard==4.1.0
bs4==0.0.1
build==0.10.0
celery==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cron-descriptor==1.4.0
croniter==2.0.1
deepdiff==6.6.1
dill==0.3.7
Django==4.2.4
django-celery-beat==2.5.0
django-cors-headers==4.2.0
django-filter==23.2
django-timezone-field==5.1
djangorestframework==3.14.0
exceptiongroup==1.1.3
factory-boy==3.3.0
Faker==19.3.0
future @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot7/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-133.100.1.1/future-0.18.2-py3-none-any.whl
h11==0.14.0
idna==3.4
importlib-metadata==6.8.0
inflection==0.5.1
isort==5.12.0
jsonpickle==3.0.1
kombu==5.3.1
lazy-object-proxy==1.9.0
lod @ file:///Users/admiralbolt/git/lod
macholib @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot7/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-133.100.1.1/macholib-1.15.2-py2.py3-none-any.whl
Markdown==3.4.4
mccabe==0.7.0
numpy==1.24.3
opencv-python==4.7.0.72
ordered-set==4.1.0
outcome==1.2.0
packaging==23.1
pdf2image==1.16.3
Pillow==9.5.0
platformdirs==3.11.0
prompt-toolkit==3.0.39
pygame==2.5.0
pylint==2.17.7
pylint-django==2.5.3
pylint-plugin-utils==0.8.2
pyproject_hooks==1.0.0
PySocks==1.7.1
python-crontab==3.0.0
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
selenium==4.14.0
six @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot7/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-133.100.1.1/six-1.15.0-py2.py3-none-any.whl
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
sqlparse==0.4.4
tomli==2.0.1
tomlkit==0.12.1
trio==0.22.2
trio-websocket==0.11.1
typing_extensions==4.7.1
tzdata==2023.3
undetected-chromedriver==3.5.3
urllib3==2.0.4
vine==5.0.0
wcwidth==0.2.6
websockets==11.0.3
wrapt==1.15.0
wsproto==1.2.0
zipp==3.16.2
